.booking {
    display: flex;
    flex-direction: column;
}

.confirm-button {
    margin-top: 30px;
}

.fc-timegrid-event-harness {
    border-color: black;
}

.fc-event-main-frame {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border-width: 2px;
    border-color: black;
    padding: 10px;
    font-size: 1.23em;
}

.fc-event-main-frame:hover {
    background-color: lightskyblue;
}

.fc-event-title-container {
    height: 0px;
}

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    border-style: solid;
    border-width: 2px;
    width: 50%;
    height: 50%;
    background-color: white;
    margin: auto;
}